/exercise1/data/hw_data/
/exercise1/data/output/
/exercise1/data/tl_2021_us_state/
/exercise1/data/tl_2021_us_state.zip
/exercise1/data/desktop.ini
/exercise1/desktop.ini
desktop.ini
style.css
/exercise1/exercise1-jvsc-143a3a75-732f-4af2-aac5-0c66b45c3ad3.ipynb
/exercise1/exercise1-jvsc-143a3a75-732f-4af2-aac5-0c66b45c3ad3.ipynb

mirela_examples/

/exercise2/data